@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Faster+One');





html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
}

footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.chart-wrapper {
  height: 600px !important;
  width: 600px !important;
}

canvas{
    margin: 0 auto;
}

.chart_line_div {
  height: 500px;
  display: flex;
  justify-content: left !important;
  margin: 0 15px;
  box-shadow: 0px 4px 16px 0 rgba(202, 202, 217, 0.57);

}

.cluster_chart {
  width: 45%;
  position: relative;
  max-height: 100%;
}

.cluster_info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 10%;
  position: relative;
  max-height: 100%;
}

.logo_font{
  font-family: 'Faster One';
  font-size: xx-large;
}

.violet{
  color: #5436a8 !important;
}

.violet_light{
  color: #5436a8 !important;
  opacity: 50%;
}

mark {
    background: none;
}

.links{
  font-size: x-large;
  font-family: 'Roboto';
}

a:hover{
  color: #4e4f52 !important;
  text-decoration: none;
}
