{% extends 'base.html' %}

{% block head %}
<title>Explore word clusters</title>
<script type="text/javascript" src="{{url_for('static', filename='js/read_text_file.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.1.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/clusters_graph.js')}}"></script>
<script>
    var corpus1 = readTextFile("{{url_for('static', filename='data/en/raw_processed_ccoha1.txt')}}");
    var corpus2 = readTextFile("{{url_for('static', filename='data/en/raw_processed_ccoha2.txt')}}");
    get_data();
</script>
{% endblock %}

{% block body %}
<main role="main" class="container text-center">
    <h1 class="mt-2 mb-2">Explore word clusters</h1>
    <div class="spinner-border" role="status" id="spinner"></div>
    <div class="container pt-4 pb-4">
        <div class="h-100 d-flex flex-column bd-highlight">
            <div class="input-group">
                <input type="text" class="form-control" id="input" placeholder="Start typing the word..." autocomplete="off">
            </div>
        </div>
    </div>
    <h2 class="mt-2"></h2>
    <div class="chart_line_div pt-5">
        <div class="cluster_chart">
            <canvas id="chart1"></canvas>
        </div>
        <div class="cluster_info">
            <div id="word_change" style="color: red;  display: flex;justify-content: center;align-content: center;flex-direction: column;">
                WORD CHANGE: {{ max }}
            </div>
            <div id="cluster_change" style="color: black;  display: flex;justify-content: center;align-content: center;flex-direction: column;">
                CLUSTER CHANGE:
            </div>
        </div>
        <div class="cluster_chart">
            <canvas id="chart2"></canvas>
        </div>
    </div>
    <div class="chart_line_div">
        <div class="cluster_chart" id="text1" style="padding:30px;overflow:auto;text-align:left;">Click on a cluster to show sentence examples
            <canvas></canvas>
        </div>
        <div class="cluster_info"></div>
        <div class="cluster_chart" id="text2" style="padding:30px;overflow:auto;text-align:left;">Click on a cluster to show sentence examples
            <canvas></canvas>
        </div>
    </div>
</main>
{% endblock %}
