{% extends 'base.html' %}

{% block head %}
<title>JS example</title>
{% endblock %}

{% block body %}
<main role="main" class="container text-center">
  <h1 class="mt-5 mb-5">Пример графика на JavaScript (ChartJs)</h1>
  <canvas id="myChart" class="chart-wrapper"></canvas>
  <script>
    const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, {
      type: 'pie',
      responsive: false,
      width:10,
      height:15,
      scaleShowGridLines: false,
      data: {
        labels: ['Red', 'Blue', 'Yellow'],
        datasets: [{
          label: '# of Votes',
          data: {{ data }},
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
</main>
{% endblock %}
